<!DOCTYPE html>
<html>
    <head>
        <%include file='head_base.html'/>
        <title>Controller</title>
    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h2>
                    wwwlamp
                </h2>
            </div>
            <div data-role="content" style="padding: 10px">
                <h3 align="center">
                    Lamps
                </h3>
                <form action="toggle" method="post">
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup" data-type="vertical">
                            <input name="checkbox1" id="checkbox1" 
                                    type="checkbox" value="true" 
                                % if states['living']:    
                                    checked="yes" 
                                % endif
                            />
                            <label for="checkbox1">
                                Living Room
                            </label>
                            <input name="checkbox2" id="checkbox2" 
                                    type="checkbox" value="true" 
                                % if states['bedroom']:
                                    checked="yes"
                                % endif
                            />
                            <label for="checkbox2">
                                Bedroom
                            </label>
                        </fieldset>
                    </div>
                    <input type="submit" value="Submit">
               </form> 
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>
